body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body span { 
  font-family: monospace;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-family: monospace;
  background-color: blueviolet;
  border-radius: 6px;
  margin: 1rem;
  border: none; 
  cursor: pointer;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.paginator-title {
  font-size: 2rem;
  height: 5vh;
  font-weight: 700;
}

.paginator-page {
  height: 75vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5rem;
  box-sizing: border-box;
}

.paginator-page::-webkit-scrollbar {
  display: none;
}

.pagination-btn {
  height: 15vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
  box-sizing: border-box;
  color: #ffffff;
}

.layout-effect-container {
  padding-top: .25rem;
  height: 100%;
}

.layout-effect-container span {
  font-family: monospace;
}

.layout-effect-container img {
  height: 75vh;
}

.layout-effect-code { 
  font-family: monospace;
  padding: 10px;
  border: solid 1px #ffffff;
  border-radius: 6px;
  text-align: left;
}

.dom-effect-example {
  width: 500px;
  height: 100px;
  font-family: monospace;
  background-color: blueviolet;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-modal {
  width: 70vw;
  
  display: flex;
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  
  border: solid 2px #ffffff;
  border-radius: 6px;
}

.transition-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.transition-tabs {
  min-width: 100%;
  max-height: 250px;
  height: fit-content;
  padding: 1rem;
  display: flex;
  overflow: auto;
  border: solid #ffffff;
  border-width: 2px 0px 0px 0px;
  box-sizing: border-box;
}

.transition-tabs::-webkit-scrollbar {
  width: 10px;
  
}

.transition-tabs::-webkit-scrollbar-track {
  border: solid #ffffff;
  border-width: 0px 0px 0px 2px;
}

.transition-tabs::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.transition-slow-tab {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5rem;

  margin-bottom: 4rem;
}
