body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-family: monospace;
  background-color: blueviolet;
  border-radius: 6px;
  margin: 3px;
  border: none; 
  cursor: pointer;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: fixed;
  padding: 0px 1rem;
  box-sizing: border-box;
  color: #ffffff;
}

.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.paginator-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.dom-effect-example {
  width: 500px;
  height: 100px;
  font-family: monospace;
  background-color: blueviolet;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  flex: 1;
}

.transition-tabs {
  width: 100%;
  height: 300px;
  display: flex;
  overflow: auto;
  margin-top: 1rem;
}

.transition-tabs::-webkit-scrollbar {
  display: none;
}

.transition-slow-tab {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5rem;

  margin-bottom: 4rem;
}
